:root{
    --color-primary:#000;
    --color-primary-header:#008fd5;
    --color-primary-header-btn:#1471b3;
    --color-primary-about: #e6eff6;
    --font--primary:'Roboto', sans-serif;
}
body{
     font-family: var(--font--primary);
}
.container{
    max-width: 980px;
    margin: auto;
}

header{
    background-color: var(--color-primary-header);
}
header .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.875rem;
    color: white;
    font-weight: 500;
}
.login{
    display: flex;
    list-style: none;
    background: #1471b3;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    align-items: center;
    position: relative;
}

.login .or{
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -17px;
    border-radius: 50px;
    background: #1065a1;
    width: 35px; height: 35px;
    line-height: 35px;
    text-align:center; 
}
.login span{
    color: #488ebc;
}
.login__item{
    padding: 5px 0;
    width: 100px;
    text-align: center;
}


/* end header */
/*============== BANNER ===========*/
.banner{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 130px;
}
.banner__title{
    color: #5d6368;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}
.banner__desc{
    color: #008fd5;
    font-size: 1.3125rem;
    padding-bottom: 50px;
    margin: 0px;
}
/*============== NEWSLETTER ===========*/
.form-newsletter__input{
    width: 395px;
    border: #d7dfe5 1px solid;
    padding: 15px;
    border-radius: 5px;
}
.form-newsletter__btn{
    width: 135px;
    padding: 15px;
    background: #89bc53;
    color: white;
    border: #d7dfe5 1px solid;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
/* ==============DESIGN================= */
.design{
    background: var(--color-primary-about);
    text-align: center;
    padding-bottom: 35px;
    position: relative;
}
#main{
    position: absolute;

   margin-top: -456px;
   margin-left: 0px;
}
.design li{
    list-style: none;
}

td{
    padding: 20px;
}
#anh{
    width: 610px;
    height: 360px;
}
.design__img{
    margin-top: -80px;
    object-fit: contain;
    width: 900px;
}
.design p{
    color: #6e7377;
    font-size: 0.8125rem;
    line-height: 20px;
}
.design__heading{
    color: #5d6368;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}
.design__btn{
    padding-top: 15px;
}
.design__btn button{
    width: 110px;
    background-color: #1471b3;
    border-radius: 30px;
    padding: 5px;
    font-size: 0.9375rem;
    
}
a{
    text-decoration: none;
    color: white;
}
/* end design */
.about{
    padding-bottom: 50px;
}
.about .container{
    max-width: 980px;
    margin: 0 auto;
    padding-top: 50px;
}
.about .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.about--us__heading{
    color: #3c4348;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}
.about--us p{
    color: #878e93;
    font-size: 0.8125rem;
    line-height: 20px;
}
.about--us__btn{
    width: 110px;
    background-color: #1471b3;
    border-radius: 30px;
    padding: 5px;
    font-size: 0.9375rem;
}
.about__img{
    border: #edf0f2 1px solid;
    padding: 10px;
    margin-top: 40px;
}
.about__img img{
    max-width: 100%;
}
/* end about us */

footer{
    background: #ececec;
}
footer .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
footer p{
    padding-bottom: 35px;
    padding-top: 35px;
    font-size: 0.8125rem;
    color: #878e93;
}


